h2 Редактирвоать
= resource_name.to_s.humanize

= form_for @user, :url => edit_user_registration_path(@user) do |f|
  = devise_error_messages!

  .field
      = f.label :name 
      = f.text_field :name, class: "form-control" ,"ng-model" => "formData.user['name']", "ng-init"=>"formData.user['name']='#{@user.name}'"
  .field
      = f.label :avatar 
      = f.file_field :avatar, class: "form-control" ,"ng-model" => "formData.user['avatar']"
  .field
    = f.label :age 
    = f.number_field :age, class: "form-control" ,"ng-model" => "formData.user['age']", "ng-init"=>"formData.user['age']=#{@user.age.to_i}"
  .field
    = f.label :website 
    = f.text_field :website, class: "form-control" ,"ng-model" => "formData.user['website']", "ng-init"=>"formData.user['website']='#{@user.website}'"
  .field
    = f.label :phone 
    = f.text_field :phone, class: "form-control" ,"ng-model" => "formData.user['phone']", "ng-init"=>"formData.user['phone']='#{@user.phone}'"
  .field
    = f.label :address 
    = f.text_area :adress, class: "form-control" ,"ng-model" => "formData.user['adress']", "ng-init"=>"formData.user['adress']='#{@user.adress}'"
  .field
    = f.label :email 
    = f.email_field :email, class: "form-control", "ng-model" => "formData.user['email']", "ng-init"=>"formData.user['email']='#{@user.email}'"
      if devise_mapping.confirmable? && resource.pending_reconfirmation? 
        div Currently waiting confirmation for: <%= resource.unconfirmed_email 
      end 
  .field
    = f.label :password 
    = f.password_field :password, autocomplete: "off", class: "form-control", "ng-model" => "formData.user['password']"
  .field
    = f.label :password_confirmation 
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", "ng-model" => "formData.user['password_confirmation']"
  .field
    = f.label :current_password 
    = f.password_field :current_password, autocomplete: "off", class: "form-control", "ng-model" => "formData.user['current_password']"
  a.btn.btn-success ng-click="saveUser(formData)" Сохранить
