= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      h2 = "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      ul
        - @article.errors.full_messages.each do |message|
          li = message

  .field.title
    = f.label :title
    = f.text_field :title, "ng-model" => "formData.article['title']", "ng-init"=>"formData.article['title']='#{@article.title}'"
  .field.description
    = f.label :description
    = f.text_area :description, "ng-model" => "formData.article['description']", "ng-init"=>"formData.article['description']='#{@article.description}'"
  a.btn.btn-success ng-click="saveArticle(formData)" Сохранить
