h1 Listing articles
form.navbar-form.navbar-right role="search"  action="search"
  .form-group
    input.form-control placeholder="Search" type="text" ng-model="$root.search"
table.table.table-bordered.table-hover
  thead
    tr
      th Заголовок 
      th Описание
      th
      th
      th

  tbody 
    tr ng-repeat="article in articles"
      td 
        | {{article.title}}
      td 
        | {{article.description}}
      td.w0
        a href="/#/articles/{{article.id}}" Смотреть
      td.w0
        a href="/#/articles/{{article.id}}/edit" Редактировать
      td.w0
        a href="" ng-click="remove(article.id)" Удалить 

br

a href="/#/articles/new" Создать статью

