nav.navbar.navbar-default
  .container-fluid
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href="#"  Логотип
    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li  ng-class="{active: $root.currentPage=='home'}"
          a href="/#/" Главная страница
        li ng-class="{active: $root.currentPage=='articles'}"
          a href="/#/articles"  Статьи
        li  ng-class="{active: $root.currentPage=='contacts'}"
          a href="/#/contacts"  Контакты
      ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          li
            a href="/#/users"
              = image_tag current_user.avatar, class: "img_size"
          li
            - if current_user.name
              a href="/#/users" =current_user.name
            - else 
              a href="/#/users" =current_user.email
          li
            = link_to 'Выход', destroy_user_session_path, :method => "delete"
        -else
          li
            =link_to 'Вход', user_session_path
    /! /.navbar-collapse
  /! /.container-fluid
