.w0 {
	white-space: nowrap;
	width: 1px;
}
.wrap {
	width: 800px;
	margin: auto;
}
.img_size {
	width: 43px;
	position: absolute;
	margin: -9px;
	margin-left: -20px;
}

.error {
	display: block;
	color: red;
}